@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Lexend Exa", sans-serif;
  color: black;
  margin: 0;
}

#app {
  width: 1920px;
  height: 1080px;
  margin: 0;
}
